.cover {
    padding: 105px 48px 0 48px;
    position: relative;
    overflow: hidden;
}

.cover__background {
    transition: opacity .3s;
}

.cover:hover .cover__background {
   opacity: .3;
}

.cover__main {
    position: absolute;
    top: 0;
    right: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    z-index: 1;
    padding: 105px 48px 0 48px;
}

.cover__text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cover__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

.cover__paragraphs{
    padding-top: 32px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.cover__paragraph {
    margin: 0;
}

.cover__button-container {
    padding-top: 45px;
}


@media screen and (max-width: 1279px) {
    .cover {
        padding: 105px 0 0 0;
    }

    .cover__background {
        transform: translate(-15%, 0);
    }

    .cover__main {
        padding: 105px 0 0 0;
    }

}

@media screen and (max-width: 767px) {
    .cover {
        padding: 77px 0 0 0;
    }

    .cover__background {
        max-width: 100%;
        transform: none;
    }

    .cover__main {
        padding: 77px 0 0 0;
    }

    .cover__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }

    .cover__paragraphs {
        padding-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }

    .cover__button-container {
        padding-top: 29px;
    }

}