.cover {
    margin: 92px 48px 0 48px;
    padding: 243px 264px;
    position: relative;
    background-image: url("../images/cover-image.png");
    background-size: cover;
    background-position: center;
}

.cover__overlay {
    transition: opacity .3s;
    position: absolute;
    top: 0;
    left: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: #2A2C2F;
    opacity: .3;
}

.cover:hover .cover__overlay {
   opacity: .7;
}


.cover__text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
}

.cover__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

.cover__paragraphs{
    padding-top: 32px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.cover__paragraph {
    margin: 0;
}

.cover__button {
    margin-top: 45px;
    width: fit-content;
}


@media screen and (max-width: 1279px) {
    .cover {
        margin: 92px 0 0 0;
        padding: 246px 56px;
    }

}

@media screen and (max-width: 767px) {
    .cover {
        margin: 64px 0 0 0;
        padding: 46px 16px;
    }

    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }

    .cover__paragraphs {
        padding-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }

    .cover__button {
        margin-top: 16px;
    }

}